*{
    margin: 0%; padding: 0%; box-sizing: border-box;
}

.card{
    border: transparent;
}
.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}